.container {
  padding: 3rem 1rem 1.8rem;
}

.container h3 {
  margin-bottom: 2rem;
  font-size: 2.3rem;
  text-align: center;
  color: var(--text-color-2);
}

.productList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  width: 100%;
  gap: 1.5rem;
}

@media screen and (max-width: 1024px) {
  .productList {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .scrollList {
    grid-template-columns: repeat(4, 1fr);
    overflow-x: auto;
  }
  .gridList {
    grid-template-columns: repeat(1, 1fr);
  }
}
