.container {
  display: grid;
  grid-template-rows: 300px 150px;
  height: 450px;
}

.container figure {
  display: flex;
  background-color: #fff;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border: 1.5px solid var(--bg-color-4);
}

.img {
  max-width: 50%;
  max-height: 50%;

  transition: all 0.2s;
}

.info {
  padding: 2rem;
  background-color: var(--bg-color-4);
  color: var(--text-color-2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container:hover .img {
  max-width: 60%;
  max-height: 60%;
}
