.container {
  position: fixed;
  background-color: var(--bg-color-1);
  color: var(--text-color-1);
  width: 100%;
  box-shadow: 0 1px 15px rgba(0, 0, 0, 0.2);
  z-index: 99;
}

.inner {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 8px;
  height: 64px;
}

.sideMenuContainer {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.leftContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.rightContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 0 1rem;
}

.sideMenuIcon {
  width: 2rem;
  height: 2rem;
  display: none;
}

.title {
  font-size: 1.25rem;
  font-weight: bold;
  text-decoration: none;
  text-transform: capitalize;
  color: var(--text-color-1);
  margin: 0 0.8rem;
  flex-shrink: 0;
}

.categories {
  display: flex;
}

.categoryBtn {
  padding: 0.5rem 0.8rem;
  border-radius: 8px;
  text-decoration: none;
  color: var(--text-color-1);
  font-size: 0.9rem;
  transition: background-color 0.3s ease;
}

.categoryBtn:hover {
  background-color: var(--bg-color-4);
  color: var(--text-color-1);
}

.theme {
  width: 1.8rem;
  height: 1.8rem;
  cursor: pointer;

  transition: transform 0.4s ease;
  transform: rotate(0deg);
}

.rotated {
  transform: rotate(45deg);
}

.theme input {
  cursor: pointer;
}

.searchIcon {
  display: none;
  cursor: pointer;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}

.searchIcon path {
  stroke: var(--text-color-1);
}
.searchDesktop {
  display: block;
}

.searchMobile {
  display: none;
}

@media screen and (max-width: 1024px) {
  .sideMenuIcon {
    display: flex;
  }
}

@media screen and (max-width: 768px) {
  .categories {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .searchIcon {
    display: block;
  }

  .searchDesktop {
    display: none;
  }

  .searchMobile {
    position: absolute;
    display: block;
    top: 64px;
    left: 0;
    right: 0;
    width: 100%;
  }
}
