.icon {
  position: relative;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.icon path {
  stroke: var(--text-color-1);
}

.count {
  position: absolute;
  top: -7px;
  right: -7px;
  display: flex;
  padding: 0.6rem;
  align-items: center;
  justify-content: center;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background-color: red;
  color: white;
  font-size: 12px;
}
